<h1>Doctor consultation_details</h1>

>


<p>Hi <%= @email%></p>
<p>
We hope you are doing well .There is a messeage from doctor:<%= @doctor %> regarding consultation details for your Appointment on <%= @time %>.
</p>

<p>
<b>
<i>
<%= @note %>  </i></b>
</p>



