<% provide(:title, 'All users') %>
<h1>All users</h1>


<ul class="users">
<% @users.each do |user| %>
<li>

<%= link_to user.name, user_path(id:user.id) %>

<% if current_user.admin? && !current_user?(user) %>
| <%= link_to "delete", delete_user_path(id:user.id)%>

<% end %>
</li>
<% end %>
</ul>

